<!doctype =html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="<%= stylesheet_path('cm') %>"/>
  <link rel="stylesheet" type="text/css" href="<%= stylesheet_path('custom') %>"/>

  <link rel="stylesheet" type="text/css" href="<%= stylesheet_path('cus') %>"/>


  <title> nothing </title>
</head>
<body>

<div class="verticalspacer" data-offset-top="442" data-content-above-spacer="441" data-content-below-spacer="61"></div>
<div class="clearfix grpelem" id="pu128"><!-- group -->
  <div class="browser_width grpelem" id="u128-bw">
    <div id="u128"><!-- group -->
      <div class="clearfix" id="u128_align_to_page">
        <div class="clearfix grpelem" id="u143-4"><!-- content -->

          <p> A FORUM FOR REVA BY REVA</p>

        </div>

      </div>

    </div>

  </div>

  <div class="browser_width grpelem" id="u131-bw">
    <p> A forum built by people of REVA for the REVA</p>
    <div id="u131"><!-- column -->

      <div class="clearfix" id="u131_align_to_page">
        <div class="clearfix colelem" id="pu155-4"><!-- group -->
          <div class="clearfix grpelem" id="u155-4"><!-- content -->
            <p>THE PROJECT</p>
          </div>
          <div class="clearfix grpelem" id="u161-17"><!-- content -->
            <p><span id="u161">THE PROJECT IS BUILT BY THE STUDENTS OF 6TH SEM RU</span></p>
            <p><span id="u161-3">PROJECT IS BUILT ON RUBY ON RAILS FRAMEWORK</span></p>
            <p><span id="u161-5">PROJECT MEMBERS :</span></p>
            <p><span id="u161-7">ABHISHEK YADAV</span></p>
            <p><span id="u161-9">ARPITHA MAKHAM</span></p>
            <p><span id="u161-11">SHASHWAT BHAGARIA</span></p>
            <p><span id="u161-13">APOORVA DA</span></p>
            <p>&nbsp;</p>
          </div>
        </div>
        <div class="clearfix colelem" id="pu164-6"><!-- group -->
          <div class="clearfix grpelem" id="u164-6"><!-- content -->
            <p>MAIL US @</p>
            <p>info@reva.edu.in</p>
          </div>
          <div class="clearfix grpelem" id="u173-6"><!-- content -->
            <p>CONNECT WITH US @</p>
            <p>facebook.com/REVAUniversity</p>
          </div>
          <div class="clearfix grpelem" id="u170-6"><!-- content -->
            <p>CALL US @</p>
            <p>+91-80-66226622</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>